body {
	text-align: center;
	font-family: Georgia, Times New Roman, Times, serif;
	color: #333333;
}

#container {
	margin: 0 auto;
	width: 800px;
}

.skills {
	list-style-type: none;
}
.skills a {
	text-decoration: none;
}

.contentImages {
  
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  margin: 0 auto;
  border: 1px solid gray;
  background: #99FFCC;
}

.contentImages li {
  list-style-type: none;
  display: inline;
  padding: 2px;
 }

img {
  height: 150px;
  width: 250px;
}

.projectDescription {
  background: #e5eecc;
  border: solid 1px #c3c3c3;
  height: 120px;
}

.projectDescription div{
  vertical-align: text-bottom;
  background: #e5eecc;
  margin: 0 auto;
  background: #e5eecc;
  display: none;
}

hr {
  width: 100%;
 }
 
